/* #################### CSS RESET ################ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
  3. Allow percentage-based heights in the application
*/
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* #################################################################### */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:ital,wght@0,700;1,300&display=swap');

:root {
  --primary-color: #1f2937;
  --secondary-color: #3882f6;
  --primary-text-color: #f9faf8;
  --secondary-text-color: #b3b7be;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--secondary-text-color);
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 1rem 14rem 7rem;
}

/* ############### Header ######################### */

/* *********Nav*********** */
.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.nav {
  color: var(--primary-text-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__left {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 24px;
}

.nav__right {
  display: flex;
  gap: 3rem;
  color: var(--secondary-text-color);
}

.nav__right > *:hover {
  color: var(--primary-text-color);
}

/* *********Hero*********** */

.hero {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-height: 50vh;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 1.2;
}

.hero__p {
  color: var(--secondary-text-color);
  padding: 1rem 0 2rem;
}

.hero__img,
.hero__text {
  flex: 1;
}

.hero__btn {
  background: var(--secondary-color);
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
}

.hero__btn:hover {
  background: var(--primary-text-color);
  color: var(--secondary-color);
  outline: none;
}

.hero__img {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 500px;
  height: 200px;
}

.img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 100%;
}

.img__caption {
  background: #1b2330;
  color: var(--secondary-text-color);
  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

/* ############### Main ######################### */

/* *********Info*********** */

.info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.info__text {
  font-size: 36px;
  font-weight: 700;
}
.info__imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 2rem;
}

.info__imgs > figure {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info__imgs > figure > img {
  border-radius: 50%;
}

/* *********Quote*********** */
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  min-height: 50vh;
}

.quote__text > p {
  font-size: 36px;
  font-style: italic;
}

.quote__caption {
  text-align: right;
  font-weight: 700;
  color: var(--primary-color);
}

/* *********Call to action*********** */

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.action__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 5rem;
  color: var(--primary-text-color);
  background-color: var(--secondary-color);
  border-radius: 0.7rem;
}

.action__text > p:nth-child(1) {
  font-weight: bold;
  font-size: 1.3rem;
}

.action__btn {
  border: 2px solid var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 4px;
}
